.form
  = form_for @message do |f|
    .contact-name
      = f.text_field :name, placeholder: 'Name'

    .contact-email
      = f.text_field :email, placeholder: 'Email'

    .contact-message
      = f.text_area :message, placeholder: 'Message'

    = f.submit
  = link_to 'All Messages', messages_path, class: 'btn btn-message btn-forum'
