-if admin_session
  .nav
    = link_to 'Add Project', new_project_path, class: 'btn btn-nav'
    = link_to 'All Messages', messages_path, class: 'btn btn-nav'
    = link_to 'Log Out', logout_path, class: 'btn btn-nav', method: :delete

.cover
  .myname
    %span.adam ADAM
    %br
    %span.lichty LICHTY

.portfolio
  .projects
    - @projects.each do |project|
      .project
        = link_to project.link, target: '_blank' do
          .project-image= image_tag project.avatar.url
          .project-title= project.title
        - if admin_session
          = link_to 'Edit Project', edit_project_path(project.id), class: 'btn btn-edit project'

.contact
  = render 'pages/contact'
