.form
  = form_for @project do |f|
    = f.file_field :avatar
    = f.hidden_field :avatar_cache

    = f.text_field :title, placeholder: 'Title'

    = f.text_field :link, placeholder: 'Link'

    = f.submit
